<header>
    <h1>Blogger</h1>
    <nav>
        <button type="button" class="header-button" id="signin-btn" onclick="window.location.href='/signin'">Sign In</button>
        <button type="button" class="header-button" id="signup-btn" onclick="window.location.href='/signup'">Sign Up</button>
    </nav>
</header>

<main>
    <div class="home">
        <h1>Welcome to The Blogger</h1>
        <button type="button" class="reg-button" id="signup-btn" onclick="window.location.href='/signup'">Register</button>
    </div>
</main>

<footer>
    <p>©Emma Waltho, 2023</p>
</footer>