<header>
    <h1>Blogger</h1>
    <nav>
        <button type="button" class="header-button" id="signin-btn" onclick="window.location.href='/'">Home</button>
    </nav>
</header>
    
    <main>
        <div class="form">
            <h1 class="title-card">Sign Up</h1>
        <div class="input-card">
            <div class="input-info" id="sign-up-form">
                <form class="email-input">
                    <label for="email">Email:</label><br>
                    <input type="text" id="signUpEmail" name="email">
                </form>
                <form class="username-input">
                    <label for="username">Username:</label><br>
                    <input type="text" id="signUpUsername" name="username">
                </form>
                <form class="pwd-input">
                    <label for="password">Password:</label><br>
                    <input type="password" id="signUpPassword" name="password">
                </form>
                <form>
                    <input type="submit" value="Submit" class="submit-button">
                </form>
            <a href="/signin">Already have an account? Sign in here!</a>
            </div>
        </div>
        </div>
    </main>

<footer>
    <p>©Emma Waltho, 2023</p>
</footer>