<header>
    <h1>Blogger</h1>
    <nav>
        <button type="button" class="header-button" id="signin-btn" onclick="window.location.href='/'">Home</button>
    </nav>
</header>
    
    <main>
        <div class="form">
            <h1 class="title-card">Sign In</h1>
        <div class="input-card">
            <div class="input-info" id="signin-form">
                <form class="email-input">
                    <label for="email">Username:</label><br>
                    <input type="text" id="email" name="email">
                </form>
                <form class="pwd-input">
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password">
                </form>
                <form>
                    <input type="submit" value="Submit" class="submit-button" id="submit-btn">
                </form>
            <a href="/signup">Don't have an account? Create one here!</a>
            </div>
        </div>
        </div>
    </main>

<footer>
    <p>©Emma Waltho, 2023</p>
</footer>