<header>
    <h1>Blogger</h1>
    <nav>
        <button type="button" class="header-button" id="signin-btn" onclick="window.location.href='/'">Home</button>
    </nav>
</header>
    
    <main>
        <div class="form">
            <h1 class="title-card">Sign In</h1>
        <div class="input-card">
            <form class="input-info" id="signin-form">
                <div class="email-input">
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email">
                </div>
                <div class="pwd-input">
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password">
                </div>
                <div>
                    <button type="submit" class="submit-button" id="submit-btn">Submit</button>
                </div>
            <a href="/signup">Don't have an account? Create one here!</a>
            </form>
        </div>
        </div>
    </main>

<footer>
    <p>©Emma Waltho, 2023</p>
</footer>

<script src="/js/signin.js"></script>