* {
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 230, 234);
}

header {
    background: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header h1 {
    margin: 0;
    padding: 20px;
    color: darkmagenta;
    font-size: 35px;
}

header button{
    margin: 20px;
    border: none;
    background: none;
    color: darkmagenta;
    transition: ease-in-out 0.5s;
    font-size: 15px;
}

header button:hover {
    text-shadow: 2px 2px white;
}

.home,
.form,
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.home h1 {
    font-size: 40px;
    color: darkmagenta;
}

.home button {
    border: none;
    color: darkmagenta;
    background: rgb(217, 148, 240);
    font-size: 28px;
    padding: 25px;
    margin: 30px;
    width: 30vw;
    transition: ease-in-out 0.5s;
}

.home button:hover {
    border: 2px solid darkmagenta;
}


.title-card,
.email-input,
.pwd-input,
.submit-button {
    margin: 10px;
}

.title-card {
    margin-top: 40px;
}

.submit-button {
    border: none;
    
}

footer {
    height: 5vh;
    text-align: center;
    color: darkmagenta;
}

.one-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    background: pink;
    margin: 20px;
}

.title {
    background: darkmagenta;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

.entry {
    padding: 20px;
}

.user {
    text-align: center;
}